body{
    font-family: 'Lato',sans-sherif;
    font-family: 'open sans',sans-sherif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
    color:#181818;
}

.primary-text{
    color:#FD6E0A;
}

nav > ul {
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    color: #474747;
}

.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    color:#fff;
    border: 0 ;
    font-size: 20px;
    font-weight: normal;
    padding: 15px 30px;
}

/* header related style */

.header{
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner{
    padding:30px 30px 0 150px;
    display: flex;
    justify-content: space-between;
    
}

.banner .profile-picture{
    width:500px;
}

.banner-content{
    max-width: 500px;
}

.banner-greeting{
    font-size: 45px;
    color:#474747;
    margin-bottom: 0;
    margin-top: 5px;
}

.banner-title{
    color:#474747;
    margin-bottom: 0;
    margin-top: 5px;
}


/* Main Section Styles */

.about{
    padding: 130px;
    border-radius: 10px;
    background: #fff8f3;
    margin:130px 0;
}

/* About Section Styles */

.section-title{
    color:#181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700px;
}

.section-description{
    color:#757575;
    text-align: center;
    font-size: 18px;
}

