body{
    font-family: 'Lato',sans-sherif;
    font-family: 'open sans',sans-sherif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
    color:#181818;
}

.primary-text{
    color:#FD6E0A;
}

nav > ul {
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    color: #474747;
}

.btn-primary{
    border-radius: 5px;
    background-color: #FD6E0A;
    color:#fff;
    border: 0 ;
    font-size: 20px;
    font-weight: normal;
    padding: 15px 30px;
}